@import flexbox
@import variables

#contact-para
  font-size: 11px
  margin-bottom: 15px
  font-family: $font-family
  width:200px
  margin-left:95px

.page-wrap
  width: 660px
  padding: 20px 120px 87px 0
  margin: 20px auto
  margin-top:100px
  min-height: 500px
  height: auto !important

.contact-area
  margin-top: 25px

  .row
    @include flexbox()

  .actions
    @include flexbox()
    justify-content: flex-end
    -webkit-justify-content: flex-end

    padding-right: 10px

  input, textarea
    padding: 5px
    width: 471px
    font-family: $font-family
    font-size: 12px
    margin: 0 0 10px 0
    border: 2px solid #ccc

    &:focus
      border: 2px solid #900

  textarea
    height: 90px

  .submit-button
    width: 100px
    background-color: #ccc
    font-family: $font-family
    font-size: 12px
    padding: 8px 12px
    border-radius: 4px
    cursor: pointer



    &:hover
      background-color: #444
      color: #ccc

    &:active
      background-color: #222
      color: #ccc

label
  font-family: $font-family
  text-align: right
  margin-right: 15px
  width: 150px
  padding-top: 5px
  font-size: 11px
