@import flexbox
@import variables

.bio-main

.bio-image-caption-wrapper
  max-width: 900px
  margin: 0 auto
  padding: 0 5px 0 5px

.bio-image
  height: 100%
  width: 100%

  margin: 0 auto

.bio-caption
  text-align: right
  font-size: 8px
  font-family: $font-family

.bio-description
  font-family: $font-family
  font-size: 11px
