@import variables

=flexbox
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=flex-direction($direction)
  -webkit-flex-direction: $direction
  -moz-flex-direction: $direction
  -ms-flex-direction: $direction
  flex-direction: $direction


=flexbox-justify($justify-content)

  -webkit-box-pack: $justify-content
  -moz-box-pack: $justify-content
  -webkit-justify-content: $justify-content
  -ms-flex-pack: $justify-content
  justify-content: $justify-content

=flexbox-align-items($align-items)

  -webkit-box-align: $align-items
  -moz-box-align: $align-items
  -ms-flex-align: $align-items
  -webkit-align-items: $align-items
  align-items: $align-items

=flexbox-wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

.flex-gallery
  +flexbox
