@import flexbox
@import variables

.footer
  +flexbox
  +flexbox-justify(center)
  +flexbox-align-items(flex-end)

  padding: 5px 0 0
  width: 100vw
  color:black
  font-size:11px
  font-family: $font-family
