@import flexbox

.gallery-container
  overflow: auto
  margin-left: 133px
  margin-right: 20px
  min-height: calc(100vh - 99px)

.gallery-item
  +flexbox
  +flex-direction(column)

  margin-right: 100px

.horizontal-layout
  +flexbox

  margin: 0 15px
  min-width: 4600px
  vertical-align: top

.caption
  margin-top: 10px
  font-family: $font-family
  font-size:10px
  height:72px
  white-space:normal
  text-align:left

.caption-full
  font-family: $font-family
  margin-left: 10px
  font-size: 11px
  height: 72px
  white-space: normal
  text-align: left

.clickable:hover
  cursor: pointer

.expand
  position: fixed
  top: calc(50% - 200px)

/******/
/**** IMAGE THUMB SIZES ****/
/******/

// 5 x 5 inches
.image-thumb-1
  display:inline-block
  width:400px
  height:400px

// 11 x 10 inches
// 16 x 12 inches
// 24 x 18 inches
.image-thumb-2
  display:inline-block
  width:340px
  height:400px

// 22 x 30 inches -- FAIRYTALES 1 & 3--
.image-thumb-3
  display:inline-block
  width:300px
  height:400px

// 7 x 4 feet -- SEAS --
.image-thumb-4
  display:inline-block
  width:550px
  height:400px

// 18 x 24 inches -- VIBRATIONS --
.image-thumb-5
  display:inline-block
  width: 440px
  height: 400px

// 20 x 16 inches --- BLUE ---
.image-thumb-6
  display:inline-block
  width: 500px
  height: 400px

// 9 x 12 inches -- WASHES --
.image-thumb-7
  display:inline-block
  width: 500px
  height: 390px

// 22 x 30 inches -- ASSEMBLAGES --
.image-thumb-8
  display:inline-block
  width:500px
  height:400px

// 22 x 30 inches -- FAIRYTALES 2--
.image-thumb-9
  display:inline-block
  width:260px
  height:400px

// 22 x 30 inches -- GAGRA --
.image-thumb-10
  display:inline-block
  width:300px
  height:400px

// 8 x 10 inches -- DRAWINGS --
.image-thumb-11
  width: 300px
  height: 400px
