@import variables

.gift-text
  text-align: center
  margin-left: 240px
  font-size: 8px
  font-family: $font-family

.gift-descr
  text-align:center
  font-size: 11px
  margin: 0 auto
  font-family: $font-family
  min-width: 517px

.gift-image
  width: 400px
  height: 460px
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: 60px

.gift-paypal
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: 50px

.gift-success
  text-align: center
  font-size: 14px
  font-family: $font-family
  margin-top: 100px
  margin-bottom: 200px
