@import flexbox
@import variables

body
  +flexbox
  +flexbox-wrap

// ******
// HEADER
// ******

.header
  +flexbox
  +flexbox-align-items(center)
  +flexbox-justify(center)

  height: 40px
  width: 100%
  padding: 10px 20px 0

// *****
// TITLE
// *****

.logo
  +flexbox

  list-style: none
  margin: 0
  padding: 0
  font-family: 'cinzel', sans-serif
  line-height: 54px

  a
    text-decoration: none
    color: #333333

// ****
// MENU
// ****

.menu-button
  cursor: pointer

.menu

  left: 0
  right: 0
  top: $header-height
  z-index: 1
  position: absolute
  background-color: rgba(224, 221, 217, 1)

// ***
// NAV
// ***

.nav-header
  text-transform: uppercase
  font-size: 12px
  font-weight: bolder
  text-align: center
  margin: 20px 100px 0 0

.nav-main
 margin: 0 20px 0 0
 float: right
 text-align: center

.nav-menu
  padding:0
  list-style-type:none
  line-height:40px
  margin: 20px 100px 0 0

  li
    padding:0
    font-size: 11px
    text-transform: uppercase
    font-family: $font-family

    a
      display:inline
      text-decoration:none
      color:#333333

.icons
  float: left
  margin:60px 0 0 17px
// *******
// GALLERY
// *******

.gallery-styling
  float:left

.series-header
  text-transform: uppercase
  font-size: 12px
  font-weight: bolder
  text-align: center
  margin: 20px 0 0 100px

.series-menu

  padding:0
  list-style-type:none
  line-height:30px
  text-align: center
  margin-left: 100px

  li
    font-size: 11px
    text-transform: uppercase
    font-family: $font-family

    a
      display:inline
      text-decoration:none
      color:#333333
