@import flexbox
@import variables

// ****
// MENU
// ****

@media(max-width: 410px)
  .nav-main
    width: 40%

    .nav-menu
      margin: 10px !important

    .nav-header
      margin: 10px !important

    .icons
      margin: 10px !important
      float: none

  .gallery-item
    margin: 10px !important
    width: 200px
    height: 200px

  .caption
    width: 50%

  .gallery-styling
    width: 40%

    .series-header
      margin: 10px !important

    .series-menu
      margin: 10px !important

  .horizontal-layout
    min-width: none !important

// @media (max-width: 1120px)
.nav-menu-desktop
  display: none

.series-menu-desktop
  display: none

@media (min-width: 1121px)
  .menu-button
    display: none

  .horizontal-layout
    margin: 0 40px 0 120px !important

  .menu
    display: none
  .nav-header
    text-transform: uppercase
    font-size: 12px
    font-weight: bolder
    text-align: center
    margin: 20px 10px 0 0

    li
      padding:0
      font-size: 11px
      text-transform: uppercase
      font-family: $font-family

      a
        display:inline
        text-decoration:none
        color:#333333

  .icons

  .nav-menu-desktop
    @include flexbox

    padding:0
    list-style-type:none
    line-height:54px

    li
      margin:0 20px 0 0
      padding:0
      font-size: 11px
      text-transform: uppercase
      font-family: $font-family

      &:last-of-type
        margin:0

      a
        display:inline
        text-decoration:none
        color:#333333

  .series-menu-desktop
    display: none
    @include flexbox

    font-family: $font-family
    font-size: 12px
    line-height: 20px
    text-transform: uppercase
    position: absolute
    top: $header-height
    display:inline
    margin: 10px 0 0 20px
    z-index: 1

    &.series-menu-fixed
      position: fixed

    header
      @extend .font-weight-bolder

    ul
      padding: 0
      list-style-type: none
      font-size: 11px

      li
        margin-bottom: 4px

        a
          color: black
          text-decoration: none

          &.active
            @extend .font-weight-bolder
