@import variables

.statement
  text-align:center
  font-size:11px
  font-family: $font-family

#statement-video
  display: block
  margin: 0 auto
  width: 100%
  max-width: 888px
  max-height: 519px
  padding-bottom: 20px
