@import url(http://fonts.googleapis.com/css?family=Cinzel)
@import variables
@import flexbox

@import footer
@import text
@import cv
@import mobile
@import gift
@import gallery
@import contact
@import statement
@import layout

html
  width: 100%
  margin: 0

body
  padding:0
  height:100%
  background-color: #F7F7F7
  margin: 0 -10px
  overflow: hidden

a
  text-decoration: none

.right
  text-align: right

.block
  display: block


/* ======= Holding Content ==== */
#page
  +flexbox
  +flex-direction(column)

  position: relative
  width: 100%;

  .container
    min-height: calc(100vh - 86px - 11.5px - 10px)
    overflow-x: auto

    .vertical-container
      width: 100vw

.image-caption-wrapper
  +flexbox
  +flexbox-wrap
  max-width: 900px
  margin: 0 auto
  width: 100%;
  text-align: center

.link
  display: block
  margin: 0 auto

/*====== Front Page Image -- Center -- ======*/
.intro-box 
  padding: 10px;
  width: 100%;

  p
    margin: 2px 0 0
    font-family: $font-family

.homepage-image
  height: 100%;
  width: 100%
  max-width: 400px

  margin: 0 auto

.index-caption

  text-align: right
  font-size: 8px
  font-family: $font-family
  padding-right: 5px


/* ========== NOT FOUND ======*/

.not-found
  margin-top: 200px
  font-size: 14px
  text-align: center
  font-family: $font-family
