<template name="contact">
  <div class="page-wrap">
    <p id="contact-para">
      <a href="mailto:esartia@esartia.com">Email: esartia@esartia.com</a>
    </p>
    <div class="contact-area">
      <form id="contactform" method="POST">

        <div class="row">
          <label for="name">Your Name</label>
          <input type="text" name="_name" rows="4" cols="50" required/>
        </div>

        <div class="row">
          <label for="email">Your Email</label>
          <input type="email" name="_email" rows="4" cols="50" />
        </div>

        <div class="row">
          <label for="message">Message</label>
          <textarea name="_message"></textarea>
        </div>

        <input type="text" name="_gotcha" style="display:none" />

        <div class="actions">
          <input type="submit" value="Send" class="submit-button" />
        </div>
      </form>

      <script>
        var contactform = document.getElementById('contactform');
        contactform.setAttribute('action', '//formspree.io/' + 'esartiac' + '@' + 'gmail' + '.' + 'com');
      </script>
    </div>
  </div>
</template>
