<template name="cv">
  <div class="bio-main">
    <div class="bio-image-caption-wrapper">
      <img class="bio-image" src="assets/images/BioPage.jpg" alt="Bio Page" />

      <div class="bio-caption">
        <p><i>Sun Down"</i> 2013 watercolor 22 x 30 inches</p>
      </div>
      <div class="bio-description">
        <p>Lives and works in Manhattan, NY</p>

        <b>EDUCATION</b>
        <p>
          <b>2001</b>
          <br> BFA Fine Arts, School of the Art Institute of Chicago
        </p>

        <p><b>SOLO & GROUP EXHIBITIONS</b>
        </p>

        <p>
          <b>2013</b>
          <br>
          <i>Paper bombing</i>, New York, NY
          <br>
          <i>Reaching U</i>, New York Palace Hotel, NY
          <br>
          <i>Hort Foundation Auction</i>, New York, NY
        </p>

        <p>
          <b>2009</b>
          <br>
          <i>Re-Fashion: plastic bag</i>, Em & Co, Los Angeles, CA
        </p>

        <p>
          <b>2005</b>
          <br>
          <i>20 Stories</i>, Em & Co, Los Angeles, CA
          <br>
          <i>No Speed Bumps! No Seat Belts!</i> ADM projects, Santa Monica, CA
        </p>

        <p>
          <b>2002</b>
          <br>
          <i>RE:CONTEXT</i>, Chicago, IL.
        </p>
      </div>
    </div>
  </div>
</template>
