<template name="gift">
  <p class="gift-descr">
    Once in a while the artist creates a piece that is designated specifically for the gift portion of the website. All gifts are one of a kind.
    <br>The gifts vary, and the dates the artist chooses to show them for sale are random.
  </p>

  <img src="assets/images/gift/pink-elephant.jpg" class="gift-image" />

  <p class="gift-text">
    <span class="italic">"Pink Elephant"</span> 2014 mixed media 4 x 6 inches
  </p>

  <div class="gift-paypal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZSNJ4KHDACM8J">
      <input class="gift-paypal" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</template>
