<template name="index">
  <div class="image-caption-wrapper">
    <!-- <img class="homepage-image" src="assets/images/big-sea/big-sea.jpg" alt="Front Page Image" title="Esartia.com" height=473 width=850 /> -->
    <a class="link" href="http://www.marisanewman.com/" target="_blank"><img class="homepage-image" src="assets/images/show_opening.jpg" alt="Front Page Image" title="Esartia.com" /></a>

    <!-- <div class="index-caption">
      <p>
        <span class="italic">"Sea I never See"</span> 2013 watercolor 7 x 4 feet
      </p>
    </div> -->

    <div class="intro-box">
      <p>Ich habe meinen Regenschirm vergessen</p>
      <p>(I have forgotten my umbrella)</p>
      <p>June 28th - July 28th, 2018</p>
    </div>
  </div>
</template>
