<template name="statement">
  <video id="statement-video" src="assets/videos/statement.mp4" controls preload></video>

  <p class="statement">
    "A statement is necessary when the work is finished. When the work is finished so is the artist. I am not finished."
  </p>
</template>
