<template name='success'>
  <div class="gift-success">
    <p>
      “Congratulations on catching this one of a kind Esartia gift!
      Your shipment will be mailed out in one business day.”
    </p>
    <p> Click <a href="esartia.com">here</a> to return to the Esartia homepage </p>
  </div>
</template>
