<template name="layout">
  <div class="header">
    <h1 class="logo">
      <a href="{{pathFor 'index'}}">Esartia</a>
    </h1>

    <!-- Navigation MOBILE-->
    <!-- <i class="fa fa-bars menu-button"></i> -->
    <!-- Navigation DESKTOP -->
    <!-- <ul class="nav-menu-desktop">
      <li> <a href="{{pathFor 'cv'}}">CV </a></li>
      <li> <a href="{{pathFor 'statement'}}">Statement</a></li>
      <li> <a href="{{pathFor 'gift'}}">Gift</a></li>
      <li> <a href="{{pathFor 'contact'}}">Contact</a></li>
    </ul> -->
  </div>

  <!-- Menu - desktop-->

  <!-- <section class="series-menu-desktop">
    <header>Series</header>
      <ul>
        {{#each displays}}
          <li class='seriesClick'><a class="seriesLink" href=/{{this}}>{{this}}</a></li>
        {{/each}}
      </ul>
    <div>
      <a href="https://www.facebook.com/pages/Esartia/733174110053076?skip_nax_wizard=true">
        <img src="assets/images/logos/fb-logo.png" height="20px" width="20px" />
      </a>
      <a href="http://instagram.com/esartia_?ref=badge" class="ig-b- ig-b-24">
        <img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" height="20px" width="20px" />
      </a>
    </div>
  </section> -->

  <!-- Menu - mobile-->
  {{#if menuOpen}}
  <div class="menu">
    <div class="nav-main">
      <header class='nav-header'>Navigation</header>
      <ul class="nav-menu">
        <li> <a href="{{pathFor 'cv'}}">CV </a></li>
        <li> <a href="{{pathFor 'statement'}}">Statement</a></li>
        <li> <a href="{{pathFor 'gift'}}">Gift</a></li>
        <li> <a href="{{pathFor 'contact'}}">Contact</a></li>
      </ul>

      <div class='icons'>
        <a href="https://www.facebook.com/pages/Esartia/733174110053076?skip_nax_wizard=true" target="_blank">
          <img src="assets/images/logos/fb-logo.png" height="20px" width="20px" />
        </a>
        <a href="http://instagram.com/esartia_?ref=badge" target="_blank" class="ig-b- ig-b-24">
          <img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" height="20px" width="20px" />
        </a>
      </div>
    </div>

    <div class='gallery-styling'>
      <header class='series-header'>Series</header>
      <ul class="series-menu">
        {{#each displays}}
        <li class='seriesClick'><a class="seriesLink" href=/{{this}}>{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}

  <!-- Container -->

  <div id="page">
    <div class="container">
      {{> yield}}
    </div>

    <!-- Footer -->

    <div class="footer">
      &copy; 2018 *website under construction
    </div>
  </div>
</template>
