<template name="notFound">
  <p class="not-found">
    So sorry, there does not seem to be anything on this page! <a href={{pathFor 'index'}}>Click here</a> to return to the homepage
  </p>
</template>
