<template name="gallery_item">
  <div class="gallery-item">
    <img src="/assets/images/{{image}}" />

    <div class="caption">
      {{title}}
      <br> {{year}}
      <br> {{style}}
      <br> {{dimensions}}
    </div>
  </div>
</template>
